default: &default
  dispatchers:
    - polling_interval: 1
      batch_size: 500
  workers:
    - queues: "portal_base_ingestion"
      threads: <%= [ENV.fetch("PORTAL_BASE_QUEUE_THREADS", 1).to_i, 2].min %>
      processes: <%= [ENV.fetch("PORTAL_BASE_QUEUE_PROCESSES", 1).to_i, 2].min %>
      polling_interval: 0.2
    - queues: "*"
      threads: 3
      processes: <%= ENV.fetch("JOB_CONCURRENCY", 1) %>
      polling_interval: 0.1

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
